<!DOCTYPE html>
html(lang="en") 
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='stylesheet' href='/style.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{name}

    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link(href='/about') ourService
        li.nav-item
          a.nav-link(href='/join') Contact us
          
.shell
  .container
    .row
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Ethnic
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://1.bp.blogspot.com/-b-2SgNUrFHg/WVSvmewWqgI/AAAAAAAAAK0/1K4YCcbYjhokHwV_IgiVJN9mEnQoWunIwCPcBGAYYCw/s1600/fashion-portrait-nicole-6347.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Introvert
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://1.bp.blogspot.com/-XL_Ba-178Fo/WVSvm5AbApI/AAAAAAAAAK4/X5109HTqUiAhPjbmz4NFVHcpL7ZWe6T3ACPcBGAYYCw/s1600/wow-29.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Beauty
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://3.bp.blogspot.com/-iUes8qr4uC8/WVSvl6Wf_fI/AAAAAAAAAKs/JiTUUVvdbqEC_QGGaQhuVJiezIN3LIqEgCPcBGAYYCw/s1600/IMG_5367-bp.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Drama
            .title-product
              h3 My face not my heart cvf ggf gfg g
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
    .row
      .col-md-6
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Ethnic
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://1.bp.blogspot.com/-b-2SgNUrFHg/WVSvmewWqgI/AAAAAAAAAK0/1K4YCcbYjhokHwV_IgiVJN9mEnQoWunIwCPcBGAYYCw/s1600/fashion-portrait-nicole-6347.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Introvert
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-3
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://1.bp.blogspot.com/-XL_Ba-178Fo/WVSvm5AbApI/AAAAAAAAAK4/X5109HTqUiAhPjbmz4NFVHcpL7ZWe6T3ACPcBGAYYCw/s1600/wow-29.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Beauty
            .title-product
              h3 My face not my heart
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
      .col-md-6
        .wsk-cp-product
          .wsk-cp-img
            img.img-responsive(src='https://3.bp.blogspot.com/-iUes8qr4uC8/WVSvl6Wf_fI/AAAAAAAAAKs/JiTUUVvdbqEC_QGGaQhuVJiezIN3LIqEgCPcBGAYYCw/s1600/IMG_5367-bp.jpg' alt='Product')
          .wsk-cp-text
            .category
              span Drama
            .title-product
              h3 My face not my heart cvf ggf gfg g
            .description-prod
              p
                | Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link
            .card-footer
              .wcf-left
                span.price Rp500.000
              .wcf-right
                a.buy-btn(href='#')
                  i.zmdi.zmdi-shopping-basket
